#stockWidget marquee div {
	display:inline;
	}

#stockWidget marquee {
	width: 100%;
	}

#stockWidget {
	width: 80%;
	}
	
.green 	{
	color: green;
	}
	
.red 	{
	color: red;
	}
	
.orange {
	color: orange;
	}